ol{
    font-family: 'Sirin Stencil', sans-serif;
    font-size: 22px;
    list-style-image: none;
}

div a
{
    text-decoration: none;
}

#firstUnit li
{
    list-style-type:none;
}

.fastAccess
{
    border-style: inset;
    border-right-style: hidden;
    padding-top: 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    position: fixed;
    left: 1598px;
    background-color: #d7dadf
}
.fastAccess a
{
    text-decoration: none;
    color: #333;
    
}
.fastAccess strong::after
{
    content:"\2BB7";
    font-size: 30px;
}
.fastAccess a:hover
{
    color: rgb(179, 158, 98);
    font-size: 34px;
}
.fastAccess span
{
    color: #4e9e4e;
    font-family: 'Sirin Stencil', sans-serif;
    font-size: 24px;

}

p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-decoration: underline;
}

h2{font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

h3{font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

BODY {
    color:darkslategrey;
    background: url(img/fon2.jpg);
    background-attachment: fixed;
   }

   hr{
    margin: -30px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
   }
a{
    color: #333;
}
/* li:not(img[src$='.gif']){
    color: red;
} */