* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1410px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}


/*  */


.header {
    background: #1A1A25;
}

.header__top {
    color: aliceblue;
}