* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
}

.container {
    width: 14 10px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

ul {
    margin-bottom: 0;
}

.btn {
    padding: 12px 20px 13px;
    height: 42px;
    border: 1px solid #F53B49;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F53B49;
}
 .white_btn {
    border: 1px solid #FFFFFF;
    color: #FFFFFF; 
 }
.btn:hover, .white_btn:hover{
    color: black;
    border: 1px solid black;
}
a{
    color:inherit;
    text-decoration: none;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.vline {
    width: 1px;
    height: 30px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
}



/*  */



/* header */
.header {
    background: #1A1A25;
}

/* header__top */
.header__top {
    padding-top: 24px;
    padding-bottom: 20px;
    color: aliceblue;
    border-bottom: 1px solid rgba(133, 143, 164, 0.15);;
}

.header__topLeft,
.header__topLeft img,
.header__topLeft ul {
    float: left;
}

.header__topLeft ul {
    margin-left: 50px;
    font-size: 14px;
    line-height: 140%;
    color: #858FA4;
    margin-top: 3px;
}

.header__topRight {
    float: right;
}

.header__topRight > * {
    float: left;
    margin-right: 30px;
}

.header__topRight p:first-child {
    font-size: 14px;
    line-height: 140%;
    color: #909CB5;
    margin-top: 7px;
}

.header__topRight button:nth-child(2) {

    width: 142px;
    height: 37px;
    background: #384255;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F7F7F7;
    border: none;
    margin-top: -2px;
}

.phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 7px;
}

.phone span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #909CB5;
}

.request__call {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #F53B49;
    margin-top: 5px;
}

.header__topRight > div:not(.vline) {
    margin-top: 5px;
}

.header__topRight > div > button {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    background: transparent;
    border: none;
    margin-right: 14px;
    vertical-align: super;
}


/* header__menu */
.header__menu {
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__menu > .container > div:first-child,
.header__menu .vline,
.main__menu,
.header__menu ul li {
    float: left;
}

.menu__icons {
    float: right;
}

.main__menu li {
    font-size: 14px;
    line-height: 140%;
    margin-right: 36px;
}

.header__menu button {
    width: 127px;
    height: 49px;
    background: #F53B49;
    border-radius: 4px;
    border: none;
    background: url('../img/catalog.svg');
    margin-right: 51px;
}

.vline__other {
    margin-left: 30px;
    margin-right: 48px;
    height: 40px;
}

.header__menu img[src$="search.svg"] {
    position: relative;
    top: -20px;
}

.main__menu {
    margin-top: 15px;
}

.menu__icons li{
    margin-right: 25px;
    width: 38px;
    height: 41px;
    margin-top: 4px;
}

.menu__icons li:first-child {
    background: url('../img/compare.svg') no-repeat center;
}

.menu__icons li:nth-child(2) {
    background: url('../img/like.svg') no-repeat center;
}

.menu__icons li:last-child {
    background: url('../img/basket.svg') no-repeat center;
    margin-right: 0;
}


/* header__bottom */
.header__bottom {
    background: #2A2C38;
}

.header__bottom .container ul > li {
    float: left;
    padding: 13px 0 14px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

li.vline {
    margin: 7px 19px 0 19px;
}


/* carousel-wrap*/
.carousel-wrap {
    margin-top: 41px;
}

.carousel {
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    padding-top: 81px;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-item:first-child {
    background-image: url('../img/slide1.jpg');
}

.carousel-item:last-child {
    background-image: url('../img/slide2.png');
}

.carousel-item h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #F53B49;
    margin-bottom: 24px;
}

.title_1 > h1 {
    font-weight: 900;
    font-size: 49.5455px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1A1A25;
    margin-bottom: 24px;
}

.title_1 > h1 span{
    font-weight: 400;
}

.title_2 > h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 49.5455px;
    line-height: 110%;
    text-transform: uppercase;
    color: #F7F7F7;
}

.title_2 > h1 span:first-child {
    font-weight: 400;
}

.title_2 > h1 span:last-child {
    font-weight: 800;
    font-size: 89.1818px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1A1A25;
}