*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// header 
.header {
    display: flex;
    .container{
        .header_top {
            display: flex;
            height: 69px;
            padding-top: 4px;
        }
        ul {
            display: flex;
        }
    }
}