*{
    font-size: 17px;
    margin: 5px;
}

/* №1 */

.firstDiv {
    width: 300px;
    display: none;
    /* СЮДА!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

[name=text1], [name=select1], [name=article1] {
    width: 100%;
    box-sizing: border-box;
}


/* №2 */

.clearfix {
    display: block;
    clear: both;
    content: '';
    margin: 0;
}
.lb2 {
    float: left;
}

[name=text2]{
    margin-left: 25px;
}

.divInput {
    margin-left: 140px;
}

.rubrica {
    float: left;
}

[name=select2] {
    margin-left: 91px;
    box-sizing: border-box;
}

[name=text2], [name=article2] {
    box-sizing: border-box;
    width: 100%;
}

.lbTextar {
    float: left;
}
