*{
    font-size: 17px;
    margin: 2px 7px;
    box-sizing: border-box;
}

/* №1 */

.firstDiv {
    width: 300px;
}

[name=text1], [name=select1], [name=article1] {
    width: 100%;
}


/* №2 */

.clearfix {
    display: block;
    clear: both;
    content: '';
    margin: 0;
}
.lb2 {
    float: left;
}

[name=text2]{
    margin-left: 25px;
}

.divInput {
    margin-left: 140px;
}

.rubrica {
    float: left;
}

[name=select2] {
    margin-left: 86px;
}

[name=text2], [name=article2] {
    width: 100%;
}

[name=article2] {
    margin-left: 25px;
}

.sp {
    padding-left: 40px;
}


/* МЕДИАЗАПРОСЫ */

@media all and (max-width: 601px) {
    .sp {
        display: block;
    }
    
    
}